body{
     color: white; 
     background-image:url("https://www.hdwallpapersfreedownload.com/uploads/large/3d-and-abstract/abstract-flower-hd.jpg") ;  
    }
    
    #Akan{
        background-color: white;
        color: green;
    }
    h1{
        color:olivedrab;
        text-align: center;
        font-family: monospace;
    }
    form{
        color: yellow;
        font-family: monospace;
    }
    